<!doctype>
<html>
<head>
    <title>Darwin.js</title>
    <link rel="stylesheet" href="styles.css"> 

    <script type="text/template" id="generationsTableView">
        <thead>
            <tr>
                <th>#</th>
                <th>Best Candidate</th>
                <th>Best Fitness</th>
                <th>Average</th>
            </tr>
        </thead>
    </script>

    <script type="text/template" id="generationRowView">
        <td><%= generation %></td>
        <td><%= bestCandidate %></td>
        <td><span style="display: inline-block; text-align: right; width: 20px;"><%= bestFitness %></span>&nbsp;&nbsp;
        <div style="display: inline-block; color: #FF4209; background-color: #FF4209; width: <%= bestFitness * 2 %>px">x</div>
        </td>
        <td style="background-color: rgba(0, 0, 255, <%= averageFitness / 36 %>)"><%= averageFitness %></td>
    </script>

    <script type="text/template" id="generationDetailsView">
        <p>Generation:      <%= this.generation.generation %></p>
        <p>Best candidate:  <%= this.generation.bestCandidate %></p>
        <p>Best fitness:    <%= this.generation.bestFitness %></p>
        <p>Average fitness: <%= this.generation.averageFitness %></p>
    </script>

</head>
<body>
    <!-- <canvas id="timeSeries" width="600" height="150"></canvas> -->
    <div class="generationDetails"></div>
    <table class="generations">
    </table>
    <script src="../../lib/jquery-2.1.1.js"></script>
    <script src="../../lib/underscore.js"></script>
    <script src="../../lib/backbone.js"></script>
    <script src="../../src/darwin.js"></script>
    <script src="../../src/darwin-ui.js"></script>
    <script src="../../src/selection.js"></script>
    <script src="../../src/operators.js"></script>
    <script src="../../src/utils.js"></script>
    <script>
    (function() {
        function createWordFitnessFunction(targetWord) {
            return function fitnessFunc(actualWord) {
                var total = 0;
                var actualWordLength = actualWord.length;
                for (var i = 0; i < actualWordLength; i++) {
                    if (actualWord.charAt(i) == targetWord.charAt(i)) {
                        total++;
                    }
                }
                return total;
            }
        }

        function createRandomWordGenerator(wordLength) {
            return function generateRandomWord() {
                var alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ ",
                    word = "";
                for (var i = 0; i < wordLength; i++) {
                    chara = Darwin.Utils.randomIntFromInterval(0, alphabet.length);
                    word += alphabet.charAt(chara);
                }
                return word
            }
        }

        function myObserver(ga, notification) {
            switch (notification) {
                case "startGA":
                    var generationsTableView = new GenerationsTableView(ga.generations);
                    $(".generations").replaceWith(generationsTableView.render().el);
                    break;
                case "generationStart":
                    break;
                case "generationFinish":
                    var generationRowView = new GenerationRowView({
                        generation: ga.generations[ga.generation],
                        className: ga.generation % 2 == 0 ? "even" : "odd"
                    });
                    $(".generations").append(generationRowView.render().el);
                    break;
            }
        }

        var wordToFind = "THIS IS A TEST ON GENETIC ALGORITHMS";

        var stringEvolver = new Darwin.Core.GA({
            selectionMethod: null,
            numGens: 100,
            populationSize: 500,
            genIndFunc: createRandomWordGenerator(wordToFind.length),
            fitnessFunction: createWordFitnessFunction(wordToFind),
            observers: [myObserver],
            reproduce: Darwin.Operators.singlePointCrossover,
            mutate: Darwin.Operators.randomCharacterMutation
        });

        stringEvolver.run();
    })();
    </script>
</body>
</html>
