<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Darwin.js</title>
    <link rel="stylesheet" href="styles.css">

    <script type="text/template" id="dashboard-layout">
        <div class="dashboard-sidebar"></div>
        <div class="dashboard-content"></div>
    </script>

    <script type="text/template" id="evolutionary-algorithm-configuration-view">
        <p class="widget-title">Evolutionary Algorithm<br/>Configuration</p>
        <div class="widget-content">
            <label>
                Type:
                <select class="ea-type">
                    <option value="GA" selected="selected">Genetic Algorithm</option>
                    <option value="ES">Evolution Strategy</option>
                </select>
            </label>
            <br/><br/>
            <div class="ea-type-view"></div>
            <br/><br/>
            <button class="start">Start</button>
            <button class="reset" disabled="disabled">Reset</button>
        </div>
    </script>

    <script type="text/template" id="genetic-algorithm-configuration-view">
        <table>
            <tr>
                <td>Population size:</td>
                <td><input type="text" name="population-size" value="<%= populationSize %>" class="small" /></td>
            </tr>
            <tr>
                <td>Recombination rate:</td>
                <td><input type="text" name="recombination-rate" value="<%= recombinationRate * 100 %>" class="small" /> %</td>
            </tr>
            <tr>
                <td>Mutation rate:</td>
                <td><input type="text" name="mutation-rate" value="<%= mutationRate * 100 %>" class="small" /> %</td>
            </tr>
        </table>
    </script>

    <script type="text/template" id="evolution-strategy-configuration-view">
        <table>
            <tr>
                <td>μ (No. parents):</td>
                <td><input type="text" name="parents-size" value="<%= parentsSize %>" class="small" /></td>
            </tr>
            <tr>
                <td>λ (No. children):</td>
                <td><input type="text" name="children-size" value="<%= childrenSize %>" class="small" /></td>
            </tr>
            <tr>
                <td>Survivor selection:</td>
                <td>
                    <select name="plus-selection">
                        <option value="false"<% if (!plusSelection) { %>selected="selected"<% } %>>(μ, λ)</option>
                        <option value="true"<% if (plusSelection) { %>selected="selected"<% } %>>(μ + λ)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Mutation rate:</td>
                <td><input type="text" name="mutation-rate" value="<%= mutationRate * 100 %>" class="small" /> %</td>
            </tr>
        </table>
    </script>

    <script type="text/template" id="generations-table-view">
        <thead>
            <tr>
                <th colspan="4" class="table-title">Generations</th>
            </tr>
            <tr>
                <th>#</th>
                <th>Best Individual</th>
                <th>Best Fitness</th>
                <th>Avg. Fitness</th>
            </tr>
        </thead>
        <tbody></tbody>
    </script>

    <script type="text/template" id="population-table-view">
        <thead>
            <tr>
                <th colspan="3" class="table-title">Population</th>
            </tr>
            <tr>
                <th>#</th>
                <th>Phenotype</th>
                <th>Fitness</th>
            </tr>
        </thead>
        <tbody></tbody>
    </script>

    <script type="text/template" id="individual-row-view">
        <td><%= id %></td>
        <td><div class="phenotype"></div></td>
        <td><span class="worst-fitness"><%= fitness %></span></td>
    </script>

    <script type="text/template" id="generation-row-view">
        <td><%= id %></td>
        <td><div class="phenotype"></div></td>
        <td><%= bestIndividualFitness %></td>
        <td><%= averageFitness.toFixed(2) %></td>
    </script>

    <script type="text/template" id="generation-row-view-in-progress">
        <td><%= id %></td>
        <td>In progress...</td>
        <td></td>
        <td></td>
    </script>

    <script type="text/template" id="individual-details-view">
        <div class="widget-title">Individual</div>
        <div class="widget-content">
            <table class="ea">
                <tr>
                    <td>Generation:</td>
                    <td><%= generationId %></td>
                </tr>
                <tr>
                    <td>Individual:</td>
                    <td><%= id %></td>
                </tr>
                <tr>
                    <td>Phenotype:</td>
                    <td><div class="phenotype"></div></td>
                </tr>
                <tr>
                    <td>Fitness:</td>
                    <td><%= fitness %></td>
                </tr>
            </table>
        </div>
    </script>

    <style>

        .axis path,
        .axis line {
            fill: none;
            stroke: #ecf1f4;
            /*shape-rendering: crispEdges;*/
            font-weight: 100;
        }

    </style>

</head>
<body>

    <img src="../mona-lisa/img/mushroom.png" id="target-image" style="visibility: hidden" />

    <script src="../../lib/jquery-2.1.1.js"></script>
    <script src="../../lib/underscore.js"></script>
    <script src="../../lib/backbone.js"></script>
    <script src="../../lib/d3.js"></script>
    <script src="../../src/darwin.js"></script>
    <script src="../../src/darwin-ui.js"></script>
    <script src="../../src/selection.js"></script>
    <script src="../../src/operators.js"></script>
    <script src="../../src/utils.js"></script>
    <script src="../../src/termination.js"></script>
    <script src="string-evolver.js"></script>
    <script>

    // TODO remove?
    var createBinaryCanvas = function(width, height) {
        var canvas = document.createElement("canvas");
        canvas.width = width;
        canvas.height = height;
        var context = canvas.getContext("2d");
        var imageData = context.getImageData(0, 0, canvas.width, canvas.height);
        for (var i = 0; i < pixelCount; i++) {
            imageData.data[i * 4] = 255;
            imageData.data[i * 4 + 1] = 0;
            imageData.data[i * 4 + 2] = 0;
            imageData.data[i * 4 + 3] = 255;
        }
        context.putImageData(imageData, 0, 0);
        return canvas;
    };

    /////////////////////
    // Image evolution //
    /////////////////////

    (function() {

        var targetImageEl = $("#target-image")[0];
        var targetFitness = targetImageEl.width * targetImageEl.height * 4 * 256;
        var pixelCount = targetImageEl.width * targetImageEl.height;

        var getImageData = function(imgEl) {
            var canvas = document.createElement("canvas");
            canvas.width = imgEl.width;
            canvas.height = imgEl.height;
            var ctx = canvas.getContext("2d");
            ctx.drawImage(imgEl, 0, 0, imgEl.width, imgEl.height);
            return ctx.getImageData(0, 0, imgEl.width, imgEl.height);
        };

        var getColorsFromImageData = function(imageData) {
            var colors = {};
            for (var i = 0; i < pixelCount; i++) {
                var r = imageData.data[i * 4].toString(16);
                r = r.length == 1 ? "0" + r : r;
                var g = imageData.data[i * 4 + 1].toString(16);
                g = g.length == 1 ? "0" + g : g;
                var b = imageData.data[i * 4 + 2].toString(16);
                b = b.length == 1 ? "0" + b  : b;
                var a = imageData.data[i * 4 + 3].toString(16);
                a = a.length == 1 ? "0" + a : a;
                colors[r + g + b + a] = true; // TODO needed?
            }
            return _.map(colors, function(value, key) {
                return [
                    parseInt(key.substr(0, 2), 16),
                    parseInt(key.substr(2, 2), 16),
                    parseInt(key.substr(4, 2), 16),
                    parseInt(key.substr(6, 2), 16)
                ];
            });
        };

        var imageData = getImageData(targetImageEl);
        var colorsPool = getColorsFromImageData(imageData);

        var dashboardView = new Darwin.Views.DashboardView({
            individualFactory: function() {
                var data = [];
                for (var i = 0; i < pixelCount; i++) {
                    var colorIndex = Math.floor(Math.random() * colorsPool.length);
                    var randomColor = colorsPool[colorIndex];
                    data[i * 4] = randomColor[0];
                    data[i * 4 + 1] = randomColor[1];
                    data[i * 4 + 2] = randomColor[2];
                    data[i * 4 + 3] = randomColor[3];
                }
                return data;
            },
            fitnessFunction: function(individual) {
                var fitness = 16 * 16 * 4 * 256;
                for (var i = 0; i < pixelCount; i++) {
                    fitness -= Math.abs(individual.genotype[i * 4] - imageData.data[i * 4]);
                    fitness -= Math.abs(individual.genotype[i * 4 + 1] - imageData.data[i * 4 + 1]);
                    fitness -= Math.abs(individual.genotype[i * 4 + 2] - imageData.data[i * 4 + 2]);
                    fitness -= Math.abs(individual.genotype[i * 4 + 3] - imageData.data[i * 4 + 3]);
                }
                return fitness;
            },
            phenotypeView: Backbone.View.extend({

                tagName: "img",

                initialize: function(options) {
                    this.actual = options.actual;
                },

                render: function() {
                    var newCanvas = document.createElement('canvas');
                    newCanvas.height = targetImageEl.height;
                    newCanvas.width = targetImageEl.width;
                    var newCtx = newCanvas.getContext('2d');
                    var imageData = newCtx.getImageData(0, 0, newCanvas.width, newCanvas.height);
                    for (var i = 0; i < this.actual.length; i++) {
                        imageData.data[i] = this.actual[i];
                    }
                    newCtx.putImageData(imageData, 0, 0);
                    this.el.src = newCanvas.toDataURL("image/png");
                    this.el.width = 32;
                    this.el.height = 32;
                    return this;
                }

            }),
            mutation: function(individual, mutationRate) {
                individual = _.clone(individual);
                for (var i = 0; i < pixelCount; i++) {
                    if (Math.random() < mutationRate) {
                        var colorIndex = Math.floor(Math.random() * colorsPool.length);
                        var randomColor = colorsPool[colorIndex];
                        individual[i * 4] = randomColor[0];
                        individual[i * 4 + 1] = randomColor[1];
                        individual[i * 4 + 2] = randomColor[2];
                        individual[i * 4 + 3] = randomColor[3];
                    }
                }
                return individual;
            },
            terminationConditions: [Darwin.Termination.createTargetFitnessCondition(targetFitness)],
            recombination: function(parentA, parentB) {
                var crossoverPoint = _.random(0, pixelCount);
                var outcomeA = _.clone(parentA);
                var outcomeB = _.clone(parentB);
                for (var i = 0; i < pixelCount; i++) {
                    if (i > crossoverPoint) {
                        outcomeA[i * 4] = parentB[i * 4];
                        outcomeA[i * 4 + 1] = parentB[i * 4 + 1];
                        outcomeA[i * 4 + 2] = parentB[i * 4 + 2];
                        outcomeA[i * 4 + 3] = parentB[i * 4 + 3];
                        outcomeB[i * 4] = parentA[i * 4];
                        outcomeB[i * 4 + 1] = parentA[i * 4 + 1];
                        outcomeB[i * 4 + 2] = parentA[i * 4 + 2];
                        outcomeB[i * 4 + 3] = parentA[i * 4 + 3];
                    }
                }
                return {
                    childA: outcomeA,
                    childB: outcomeB
                };
            },
            selection: Darwin.Selection.createRandomTopPercent(0.10),
            mutationRate: 1.0 / pixelCount,
            maxFitness: targetFitness,
            maxGenerations: 800,
            populationSize: 100,
            recombinationRate: 0.80
        });
        $("body").prepend(dashboardView.render().el);
    })();

    ////////////////////
    // String Evolver //
    ////////////////////

//    var wordToFind = "HELLO WORLD 123",
//        alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ 0123456789";
//
//    var dashboardView = new Darwin.Views.DashboardView({
//        individualFactory: StringEvolver.createStringFactory(alphabet, wordToFind.length),
//        fitnessFunction: StringEvolver.createWordFitnessFunction(wordToFind),
//        phenotypeView: StringEvolver.createStringDiffView(wordToFind),
//        mutation: Darwin.Operators.createStringMutation(alphabet),
//        terminationConditions: [new Darwin.Termination.TargetFitness(wordToFind.length)],
//        recombination: Darwin.Operators.singlePointCrossover,
//        selection: Darwin.Selection.fitnessProportionalSelection,
//        maxFitness: wordToFind.length,
//        maxGenerations: 140
//    });
//    $("body").prepend(dashboardView.render().el);

    </script>
</body>
</html>