<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Darwin.js</title>
    <link rel="stylesheet" href="styles.css">

    <script type="text/template" id="dashboard-layout">
        <div class="dashboard-sidebar"></div>
        <div class="dashboard-content"></div>
    </script>

    <script type="text/template" id="ea-configuration-view">
        <p class="widget-title">Evolutionary Algorithm<br/>Configuration</p>
        <div class="widget-content">
            <label>
                Population size:
                <select class="population-size">
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                    <option value="500" selected="selected">500</option>
                    <option value="1000">1000</option>
                </select>
            </label>
            <br/><br/>
            <button class="start">Start</button>
            <button class="reset" disabled="disabled">Reset</button>
        </div>
    </script>

    <script type="text/template" id="ea-details-view">
        <p class="widget-title">Evolutionary Algorithm<br/>Details</p>
        <div class="widget-content">
            <table class="ea">
                <tr>
                    <td>Type:</td>
                    <td>Evolution Strategy</td>
                </tr>
                <tr>
                    <td>Initialization:</td>
                    <td>Random</td>
                </tr>
                <tr>
                    <td>Population size:</td>
                    <td><%= populationSize %></td>
                </tr>
                <tr>
                    <td>Recombination:</td>
                    <td>One point crossover</td>
                </tr>
                <tr>
                    <td>Recombination probability:</td>
                    <td>70%</td>
                </tr>
                <tr>
                    <td>Mutation:</td>
                    <td>Each character replaced with probability pm</td>
                </tr>
                <tr>
                    <td>Mutation probability:</td>
                    <td>1/n</td>
                </tr>
                <tr>
                    <td>Termination condition:</td>
                    <td>Find the total fitness</td>
                </tr>
            </table>
        </div>
    </script>

    <script type="text/template" id="generations-table-view">
        <thead>
            <tr>
                <th colspan="4" class="table-title">Generations</th>
            </tr>
            <tr>
                <th>#</th>
                <th>Best Individual</th>
                <th>Best Fitness</th>
                <th>Avg. Fitness</th>
            </tr>
        </thead>
        <tbody></tbody>
    </script>

    <script type="text/template" id="population-table-view">
        <thead>
            <tr>
                <th colspan="3" class="table-title">Population</th>
            </tr>
            <tr>
                <th>#</th>
                <th>Phenotype &#9660;</th>
                <th>Fitness &#9650;</th>
            </tr>
        </thead>
        <tbody></tbody>
    </script>

    <script type="text/template" id="individual-row-view">
        <td><%= id %></td>
        <td><%= phenotype %></td>
        <td><span class="worst-fitness"><%= fitness %></span></td>
    </script>

    <script type="text/template" id="generation-row-view">
        <td><%= id %></td>
        <td><%= bestIndividual %></td>
        <td><%= bestIndividualFitness %></td>
        <td><%= averageFitness.toFixed(2) %></td>
    </script>

    <script type="text/template" id="generation-row-view-in-progress">
        <td><%= id %></td>
        <td>In progress...</td>
        <td></td>
        <td></td>
    </script>

    <script type="text/template" id="individual-details-view">
        <div class="widget-title">Individual</div>
        <div class="widget-content">
            <table class="ea">
                <tr>
                    <td>Generation:</td>
                    <td><%= generationId %></td>
                </tr>
                <tr>
                    <td>Individual:</td>
                    <td><%= id %></td>
                </tr>
                <tr>
                    <td>Phenotype:</td>
                    <td><%= phenotype %></td>
                </tr>
                <tr>
                    <td>Fitness:</td>
                    <td><%= fitness %></td>
                </tr>
            </table>
        </div>
    </script>

    <style>

        .axis path,
        .axis line {
            fill: none;
            stroke: #ecf1f4;
            /*shape-rendering: crispEdges;*/
            font-weight: 100;
        }

        /*.line {*/
            /*fill: none;*/
            /*stroke: steelblue;*/
            /*stroke-width: 1.5px;*/
        /*}*/

    </style>

</head>
<body>

    <div id="robles"></div>

    <script src="../../lib/jquery-2.1.1.js"></script>
    <script src="../../lib/underscore.js"></script>
    <script src="../../lib/backbone.js"></script>
    <script src="../../lib/d3.js"></script>
    <script src="../../src/darwin.js"></script>
    <script src="../../src/darwin-ui.js"></script>
    <script src="../../src/selection.js"></script>
    <script src="../../src/operators.js"></script>
    <script src="../../src/utils.js"></script>
    <script src="../../src/termination.js"></script>
    <script src="string-evolver.js"></script>
    <script>

    ///////////////////////
    // Genetic Algorithm //
    ///////////////////////

    var runGA = function() {
        var wordToFind = "GENETIC HELLO WORLD",
            alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ ",
            stringEvolver = new Darwin.GeneticAlgorithm({
                populationSize: 100,
                individualFactory: StringEvolver.createStringFactory(alphabet, wordToFind.length),
                fitnessFunction: StringEvolver.createWordFitnessFunction(wordToFind),
                select: Darwin.Selection.fitnessProportionalSelection,
                reproduce: Darwin.Operators.singlePointCrossover,
                recombinationRate: 0.70,
                mutate: Darwin.Operators.createStringMutation(alphabet),
                mutationRate: 0.01,
                terminationConditions: [new Darwin.Termination.TargetFitness(wordToFind.length)]
            }),
            dashboardView = new Darwin.Views.DashboardView({
                ga: stringEvolver,
                phenotypeView: StringEvolver.createStringDiffView(wordToFind)
            });
        $("body").prepend(dashboardView.render().el);
    };

    ///////////////////////////
    // Evolutionary Strategy //
    ///////////////////////////

    var runES = function() {
        var wordToFind = "GENETIC HELLO WORLD",
            alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ ",
            stringEvolver = new Darwin.EvolutionStrategy({
                parentsSize: 10,
                childrenSize: 40,
                plusSelection: true,
                individualFactory: StringEvolver.createStringFactory(alphabet, wordToFind.length),
                fitnessFunction: StringEvolver.createWordFitnessFunction(wordToFind),
                mutate: Darwin.Operators.createStringMutation(alphabet),
                mutationRate: 0.05,
                terminationConditions: [new Darwin.Termination.TargetFitness(wordToFind.length)]
            }),
            dashboardView = new Darwin.Views.DashboardView({
                ga: stringEvolver,
                phenotypeView: StringEvolver.createStringDiffView(wordToFind)
            });
        $("body").prepend(dashboardView.render().el);
    };

    runES();

    </script>
</body>
</html>
