<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Darwin.js</title>
    <link rel="stylesheet" href="styles.css">

    <script type="text/template" id="generations-table-view">
        <thead>
            <tr>
                <th colspan="5" style="font-size: 1.4em; width: 200px; text-align: center;">Generations</th>
            </tr>
            <tr>
                <th>#</th>
                <th>Best Candidate</th>
                <th>Best Fitness</th>
                <th>Average Fitness</th>
            </tr>
        </thead>
        <tbody></tbody>
    </script>

    <script type="text/template" id="generationsTableViewFooter">
        <tfoot>
            <td colspan="2" style="text-align: left">
            Displaying generations 1 - 20 of 250
            </td>
            <td colspan="3">
            &lt; Page
            <input type="text" value="1" style="width: 30px; text-align: center;" />
            of <%= totalPages %> &gt;
            </td>
        </tfoot>
    </script>

    <script type="text/template" id="population-table-view">
        <thead>
        <tr>
            <th colspan="2" style="font-size: 1.4em; width: 200px; text-align: center;">Population</th>
        </tr>
        <tr>
            <th>Best Candidate</th>
            <th>Fitness</th>
        </tr>
        </thead>
        <tbody></tbody>
    </script>

    <script type="text/template" id="candidate-row-view">
        <td><%= id %></td>
        <td><%= candidate %></td>
        <td><%= fitness %></td>
    </script>

    <script type="text/template" id="generation-row-view">
        <td style="text-align: right;"><%= number %></td>
        <td><%= bestCandidate %></td>
        <td><span style="display: inline-block; text-align: right; width: 20px;"><%= bestCandidateFitness %></span>&nbsp;&nbsp;
        <div style="display: inline-block; color: #FF4209; background-color: #FF4209; width: <%= bestCandidateFitness %>px">|</div>
        </td>
        <td><span style="display: inline-block; text-align: right; width: 20px;"><%= averageFitness.toFixed(2) %></span>&nbsp;&nbsp;
            <div style="display: inline-block; color: #1B222D; background-color: #1B222D; width: <%= averageFitness %>px">|</div>
        </td>
    </script>

    <script type="text/template" id="generation-row-view-in-progress">
        <td><%= number %></td>
        <td>In progress...</td>
        <td></td>
        <td></td>
    </script>

    <script type="text/template" id="generation-details-view">
        <div class="population-details-stats">
            <p>Generation:      <%= number %></p>
            <p>Best candidate:  <%= bestCandidate %></p>
            <p>Best fitness:    <%= bestCandidateFitness %></p>
            <p>Average fitness: <%= averageFitness %></p>
        </div>
    </script>

    <script type="text/template" id="candidate-details-view">
        <p>Candidate Details View</p>
    </script>

</head>
<body>
    <!-- <canvas id="timeSeries" width="600" height="150"></canvas> -->

    <div class="dashboard">
        <div class="generations-container">
            <table class="generations">
            </table>
        </div>
        <div class="generationDetails"></div>
        <div class="candidate-details"></div>
    </div>

    <script src="../../lib/jquery-2.1.1.js"></script>
    <script src="../../lib/underscore.js"></script>
    <script src="../../lib/backbone.js"></script>
    <script src="../../src/darwin.js"></script>
    <script src="../../src/darwin-ui.js"></script>
    <script src="../../src/selection.js"></script>
    <script src="../../src/operators.js"></script>
    <script src="../../src/utils.js"></script>
    <script src="../../src/termination.js"></script>
    <script src="string-evolver.js"></script>
    <script>

    (function() {
        var charPool = "ABCDEFGHIJKLMNOPQRSTUVWXYZ !";
        var wordToFind = "EVOLVING HELLO WORLD!";
        var stringEvolver = new Darwin.GA({
            populationSize: 500,
            genIndFunc: StringEvolver.createRandomStringGenerator(charPool, wordToFind.length),
            fitnessFunction: StringEvolver.createWordFitnessFunction(wordToFind),
            reproduce: Darwin.Operators.singlePointCrossover,
            mutate: StringEvolver.randomCharacterMutation,
            terminationConditions: [new Darwin.Termination.TargetFitness(wordToFind.length)],
            <!-- terminationConditions: [new Darwin.Termination.MaxNumGens(50)] -->
        });


        var Evolver = {};
        Evolver.GenerationsCollection = Backbone.Collection.extend();
        Evolver.generationsCollection = new Evolver.GenerationsCollection();

        var callbacks = _.extend({}, Backbone.Events);

        var gensMap = {};

        callbacks.listenTo(stringEvolver, "ga-started", function() {
            window.generationsTableView = new GenerationsTableView({
                collection: Evolver.generationsCollection
            });
            $(".generations").replaceWith(generationsTableView.render().el);
        });

        callbacks.listenTo(stringEvolver, "generation-started", function(generation) {
            Evolver.generationsCollection.add(generation);
            var last = Evolver.generationsCollection.last();
            gensMap[last.get("generation")] = last;
        });

        callbacks.listenTo(stringEvolver, "generation-finished", function(generation) {
            var generationModel = gensMap[generation.generation];
            generationModel.set(generation);
            if (!window.detailsView) {
                window.detailsView = new GenerationDetailsView();
            }
            window.detailsView.model = generationModel;
            $(".generationDetails").replaceWith(window.detailsView.render().el);
        });

        stringEvolver.run();
    })();
    </script>
</body>
</html>
