/*
          Red: #1B222D
    Navy Blue: #FF4209
         Even: #ECF1F4
          Odd: #BCC5C9
*/

body {
    font-family: "Tahoma";
    font-size: 12px;
    margin: 0;
    background-color: #252b34;
}

body p {
    margin: 0;
}

.dashboard {
    background-color: #252b34;
    height: 100vh;
    margin: 0;
    font-size: 0.95em;
}

/**************/
/** EA Table **/
/**************/

table.ea {
    color: #ECF1F4;
    border-spacing: 0;
}

table.ea tbody {
    display: block;
}

table.ea tbody tr {
    border-right: 2px solid #363f4a;
}

table.ea tbody tr.selected, table.ea tbody tr.selected:hover {
    background-color: #252b34;
}

table.ea tbody tr:hover {
    cursor: pointer;
    background-color: #363f4a;
    border-right: 2px solid #363f4a;
}

table.ea tbody tr td {
    border-bottom: 2px solid #363f4a;
}

/***********************/
/** Generations Table **/
/***********************/

table.generations thead {
    text-align: left;
}

table.generations thead tr {
    display: block;
    width: 10px;
    height: 5vh;
}

table.generations thead tr + tr {
    width: 240px
}

table.generations thead tr + tr + tr {
    width: 110px
}

table.generations thead tr + tr + tr + tr {
    width: 110px
}

table.generations tbody tr {
    height: 30px;
}

table.generations tbody {
    overflow-y: auto;
    height: 70vh;
}

table.generations tbody td {
    width: 10px
}

table.generations tbody td + td {
    width: 200px
}

table.generations tbody td + td + td {
    width: 90px
}

table.generations tbody td + td + td + td {
    width: 90px
}

table.generations tbody tr:nth-child(even), table.population tbody tr:nth-child(even) {
    /*background: #ffffff;*/
}

table.generations tbody tr:nth-child(odd), table.population tbody tr:nth-child(odd) {
    /*background: #ECF1F4;*/
}

table.generations tfoot  {
    background-color: #BCC5C9;
    color: #ECF1F4;
    text-align: right;
}

table.generations th, table.generations td {
    padding: 0.7em;
}

.generation-details {
    float: left;
    width: 350px;
    height: 81.3vh;
    display: inline;
    margin: 10px;
    padding: 10px;
    border: 2px solid #ccffcc;
}

.population-details-stats {
    height: 10vh;
}

/**********************/
/** Population Table **/
/**********************/

table.population {
    border-spacing: 0;
    width: 340px;
}

table.population thead tr {
    display: block;
    height: 3vh;
}

table.population tbody {
    overflow-y: auto;
    height: 65vh;
}

table.population tbody tr {
    height: 30px;
}

table.population tbody tr td {
    width: 30px;
}

table.population tbody tr td + td {
    width: 350px;
}

/************/
/** Widget **/
/************/

.widget {
    float: left;
    display: inline;
    padding: 10px;
    margin: 10px 0 0 10px;
    background-color: #313842;
    border: 2px solid #363f4a;
    color: #b5bfcc;
}