body {
    font-family: "Tahoma";
    font-size: 12px;
    margin: 0;
    background-color: #252b34;
}

body p {
    margin: 0;
}

.dashboard {
    background-color: #252b34;
    height: 100vh;
    margin: 0;
    font-size: 0.95em;
}

/************/
/** Widget **/
/************/

.widget {
    float: left;
    display: inline;
    margin: 10px 0 0 10px;
    background-color: #313842;
    border: 2px solid #363f4a;
    color: #b5bfcc;
}

/**************/
/** EA Table **/
/**************/

table.ea {
    color: #ECF1F4;
    border-spacing: 0;
    text-align: left;
}

table.ea thead {
    display: table-header-group;
}

table.ea thead th {
    border-bottom: 2px solid #363f4a;
}

table.ea thead tr {
    border-bottom: 2px solid #363f4a;
    /*display: block;*/
    /*width: 100%;*/
}

table.ea th, table.ea td {
    width: 200px;
    text-align: left;
}

table.ea tbody {
    display: block;
}

table.ea tbody tr {
    border-right: 2px solid #363f4a;
}

table.ea tr.selected, table.ea tr.selected:hover {
    background-color: #252b34;
}

table.ea tbody tr:hover {
    cursor: pointer;
    background-color: #363f4a;
    border-right: 2px solid #363f4a;
}

table.ea td {
    border-bottom: 2px solid #363f4a;
}

table.ea th, table.ea td {
    padding: 0.7em;
}

/***********************/
/** Generations Table **/
/***********************/

table.generations tbody {
    overflow-y: auto;
    height: 70vh;
}

table.generations thead th, table.generations tbody td {
    width: 20px;
}

table.generations thead th + th, table.generations tbody td + td {
    width: 120px;
}

table.generations tbody tr:nth-child(even), table.population tbody tr:nth-child(even) {
    /*background: #ffffff;*/
}

table.generations tbody tr:nth-child(odd), table.population tbody tr:nth-child(odd) {
    /*background: #ECF1F4;*/
}

.generation-details {
    float: left;
    width: 350px;
    height: 81.3vh;
    display: inline;
    margin: 10px;
    padding: 10px;
    border: 2px solid #ccffcc;
}

.population-details-stats {
    height: 10vh;
}

/**********************/
/** Population Table **/
/**********************/

table.population {
    border-spacing: 0;
    width: 340px;
}

table.population thead tr {
    display: block;
    height: 3vh;
}

table.population tbody {
    overflow-y: auto;
    height: 65vh;
}

table.population tbody tr {
    height: 30px;
}

table.population tbody tr td {
    width: 30px;
}

table.population tbody tr td + td {
    width: 350px;
}