body {
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    font-size: 12px;
    margin: 0;
    background-color: #252b34;
}

body p {
    margin: 0;
}

.dashboard {
    background-color: #252b34;
    height: 100vh;
    margin: 0;
    font-size: 0.95em;
}

/************/
/** Widget **/
/************/

.widget {
    float: left;
    display: inline;
    margin: 10px 0 0 10px;
    background-color: #313842;
    border: 2px solid #363f4a;
    color: #b5bfcc;
}

/**************/
/** EA Table **/
/**************/

table.ea {
    color: #ecf1f4;
    border-spacing: 0;
    text-align: left;
}

table.ea th.table-title {
    text-align: center;
    font-size: 1.3em;
}

table.ea thead {
    display: table-header-group;
}

table.ea th, table.ea td {
    border-bottom: 2px solid #363f4a;
    text-align: left;
    padding: 0.7em;
}

table.ea tbody {
    display: block;
}

table.ea tr.selected, table.ea tr.selected:hover {
    background-color: #252b34;
}

table.ea tbody tr:hover {
    cursor: pointer;
    background-color: #363f4a;
    border-right: 2px solid #363f4a;
}

/***********************/
/** Generations Table **/
/***********************/

table.generations tbody {
    overflow-y: auto;
    height: 90vh;
}

table.generations th, table.generations td {
    width: 20px;
}

table.generations th + th, table.generations td + td {
    width: 100px;
}

/**********************/
/** Population Table **/
/**********************/

table.population tbody {
    overflow-y: auto;
    height: 90vh;
}

table.population th, table.population td {
    width: 20px;
}

table.population th + th, table.population td + td {
    width: 100px;
}

/****************************/
/** Candidate Details View **/
/****************************/

.candidate-details-view {
    height: 95vh;
    min-width: 200px;
    padding: 10px;
}